{% extends 'base.html.twig' %}

{% block title %}Ubicacion{% endblock %}

{% block body %}
    <h1>Ubicacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ubicacion.id }}</td>
            </tr>
            <tr>
                <th>Pasillo</th>
                <td>{{ ubicacion.pasillo }}</td>
            </tr>
            <tr>
                <th>Estanteria</th>
                <td>{{ ubicacion.estanteria }}</td>
            </tr>
            <tr>
                <th>Estante</th>
                <td>{{ ubicacion.estante }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ubicacion_index') }}">back to list</a>

    <a href="{{ path('app_ubicacion_edit', {'id': ubicacion.id}) }}">edit</a>

    {{ include('ubicacion/_delete_form.html.twig') }}
{% endblock %}
